:root {
    --popinis: "Poppins", sans-serif;
    --sora: "Sora", sans-serif;
    --color-common: #000958;
    --pattaya: "Pattaya", sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: var(--popinis);
    background: #FFFAF5;
}

/* common */

li {
    cursor: pointer;
    list-style: none;
    white-space: nowrap;
}

a {
    white-space: nowrap;
    cursor: pointer;
    text-decoration: none;
    color: var(--color-common);
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    margin: 0;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}


.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    width: 117px;
    min-width: 117px;
    height: 50px;
    color: var(--color-common);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4;
    padding: 18px 32px 18px 31px;
    border: 1px solid var(--color-common);
    border-radius: 25px;
}

/* header */

.header {
    height: 758px;
}

/* nav */

.header-nav {
    display: flex;
    align-items: center;
    padding-top: 26px;
    column-gap: 225px;
}

.header-nav--navbar {
    display: flex;
    gap: 36px;
}

.header-nav--item__link {
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    white-space: nowrap;
}

.header-nav--item__link:hover {
    color: var(--color-common);
    text-shadow: 1px 0 0 currentColor;
}

.header-nav--btn {
    transition: .3s;
    margin-left: 20px;
}

.header-nav--btn:hover {
    background: #FF5B2E;
    border: 1px solid #FF5B2E;
    color: #fff;
}

.header-nav--btn__signin {
    transition: .2s ease-in-out;
}

.header-nav--btn__signin:hover {
    text-decoration: underline;
    text-shadow: 1px 0 0 var(--color-common);
}

/* intro */

.header-service {
    display: flex;
    margin-top: 100px;
}

.header-intro {
    position: relative;
}

.header-card-1 {
    position: absolute;
    z-index: 1;
    left: -4px;
    bottom: -1px;
    border-radius: 16px;
}

.header-intro--bg-1 {
    position: relative;
    display: inline-block;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    background: #FE997B;
    border: 2px solid #fff;
}

.header-intro--card__item-1 {
    z-index: -1;
    position: absolute;
    top: 16px;
    left: 376px;
}

.header-intro--card__item-2 {
    position: absolute;
    left: -60px;
    bottom: 32px;
    z-index: -1;
}

.header-intro--bg-2 {
    position: absolute;
    display: inline-block;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    background: #FAA7AD;
    border: 2px solid #fff;
    left: 365px;
    margin-top: 302px;
}

.header-card-2 {
    position: absolute;
    width: 186px;
    height: 220px;
    border-radius: 16px;
    bottom: -2px;
}

.header-group-card {
    position: absolute;
    z-index: 2;
    top: 426px;
    left: 129px;
    padding: 18px 14px;
    background: #fff;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.header-group--card-item {
    display: flex;
    align-items: flex-start;
}

.header-group-card--img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FEC23F;
}

.header-group--card-item:first-child {
    position: relative;
    padding-bottom: 40px;
}

.header-group--card-item:first-child::before {
    bottom: 18px;
    position: absolute;
    content: '';
    display: inline-block;
    width: 222px;
    height: 2px;
    background-color: #F2F2F2;
    border-radius: 2px;
}


.header-group-card--img-2 {
    background: #6597C2;
}

.header-group-card-desc {
    position: relative;
    margin: 0;
    margin-left: 10px;
    margin-top: 1px;
    color: var(--color-common);
    font-family: var(--sora);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.header-group-card-desc::before,
.header-group-card-desc::after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 118px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--color-common);
}

.header-group-card-desc::before {
    top: 21px;
}

.header-group-card-desc::after {
    width: 39px;
    bottom: -21px;
    left: 0;
}

/* content */

.header-content {
    margin-left: 282px;
    margin-top: 71px;
}

.header-content--heading {
    width: 517px;
    color: var(--color-common);
    font-family: var(--sora);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
    margin: 0;
    /* 115.152% */
}

.header-content--desc {
    width: 391px;
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
    /* 187.5% */
}

.header-content--btn {
    color: #FFF;
    text-align: center;
    width: 189px;
    height: 60px;
    border-radius: 31px;
    background: #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    padding: 20px 25px;
    padding-right: 15px;
    border: #FF5B2E;
    transition: .3s;
}

.header-content--btn:hover {
    background: transparent;
    color: #FF5B2E;
    border: 1px solid #FF5B2E;
}

.header-content--icon {
    margin-top: 2px;
    margin-left: 10px;
}

.header-group-link {
    margin-top: 22px;
    display: flex;
    align-items: center;
}

.header-content-link--call {
    margin-left: 24px;
    color: var(--color-common);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    transition: .2s;
    /* 100% */
}

.header-content-link--call:hover {
    text-decoration-line: underline;
    text-shadow: 1px 0 0 var(--color-common);
}

/* about */

.about {
    padding-top: 53px;
    padding-bottom: 53px;
    margin-top: 77px;
}

.about .row {
    position: relative;
    display: flex;
}

.about-content {
    margin-top: 77px;
    margin-right: 108px;
}

.about-content--comment {
    color: #5E6085;
    font-family: var(--sora);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    margin: 0;
    /* 100% */
}

.about--heading {
    width: 446px;
    color: var(--color-common);
    font-family: var(--color-common);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    margin-top: 15px;
    margin-bottom: 0;
    /* 119.231% */
}

.about--desc {
    width: 431px;
    color: #656689;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;
    margin-bottom: 54px;
    /* 187.5% */
}

.about--group {
    margin-left: 33px;
}

.about--group__checkbox {
    display: flex;
    justify-content: space-between;
}

.about--item-2 {
    padding-right: 66px;
}

.about--item {
    margin-bottom: 34px;
    display: flex;
    align-items: center;
}

.about--item+.about--item {
    margin-left: 66px;
}

.about--lable {
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
}

.about--lable::before,
.about--lable::after {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    position: absolute;
}

.about--lable::before {
    left: -35px;
    top: -5px;
    background: transparent;
    border: 1px solid #FF5D31;
    border-radius: 5px;
}

.about--lable::after {
    left: -29px;
    bottom: 8px;
    border-radius: 2px;
    width: 11px;
    height: 6px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    rotate: 315deg;
}

.about--item [type=checkbox]:checked+.about--lable::before {
    background: #FF5D31;
    box-shadow: rgba(255, 93, 49, 0.4) 0px 0px 30px 0px, rgba(255, 93, 49, 0.4) 0px 0px 0px -5px;
}

/* about box */

.about--box {
    padding: 31px 26px 29px 27px;
    position: relative;
    margin-top: 165px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about--number {
    color: #FFF;
    text-align: center;
    font-family: var(--sora);
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    /* 100% */
}

.about--number+.about--desc {
    width: 83px;
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.43;
    /* 142.857% */
}

.about--icon-cat {
    position: absolute;
    bottom: 109px;
    left: 85px;
}

.about--bg {
    z-index: -1;
    position: absolute;
    top: 207px;
    right: -46px;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
}

.about--person {
    position: absolute;
    top: -214px;
    left: 23px;
}

.about--union {
    z-index: -2;
    position: absolute;
    right: -50px;
    top: -66px;
}

/* features */

.features {
    margin-top: 53px;
}

.features .row {
    display: flex;
}

.features-img {
    margin-right: 127px;
    position: relative;
    margin-top: 93px;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.features-img--decor-1,
.features-img--decor-2,
.features-img--decor-3,
.features-img--decor-4,
.features-img--decor-5,
.features-img--decor-6 {
    position: absolute;
}

.features-img--decor-1 {
    top: 12.5px;
    right: 63.2px;
}

.features-img--decor-2 {
    top: -16px;
    right: 13px;
}

.features-img--decor-3 {
    top: 33px;
    right: -21px;
}

.features-img--decor-4 {
    top: 268px;
    right: -35px;
}

.features-img--decor-5 {
    bottom: 150px;
    right: 19px;
}

.features-img--decor-6 {
    bottom: -54px;
    right: -42px;
}

.features-content {
    margin-top: 129px;
}

.features--heading {
    width: 543px;
    color: var(--color-common);
    font-family: var(--sora);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    /* 119.231% */
}

.features--desc {
    width: 511px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
    margin-top: 24px;
    margin-bottom: 54px;
    /* 187.5% */
}

.features-group {
    display: flex;
    align-items: center;
    gap: 56px;
    width: 557px;
    position: relative;
}

.features-group::before,
.features-group::after {
    content: '';
    display: inline-block;
    width: 557px;
    height: 2px;
    background: #FF5B2E;
    position: absolute;
    transition: .3s;
}

.features-group::before {
    display: inline-block;
    opacity: 0.07;
    bottom: -15px;
    width: 557px;
}

.features-group::after {
    width: 95px;
    bottom: -15px;
}


.features-group--item {
    display: flex;
    align-items: center;
    white-space: nowrap;
}


.features--sub-heading {
    margin-left: 11px;
}

.features--sub-desc {
    margin-top: 46px;
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
    margin-bottom: 32px;
    /* 171.429% */
}

.features--btn {
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    transition: .07s;
    /* 100% */
}

.features--btn:hover {
    border-bottom: 2px solid #FF5D31;
    text-shadow: 1px 0 0 #FF5D31;
}

/* services */

.services {
    margin-top: 130px;
    background: #FFF6ED;
}

.services--what {
    padding-top: 68px;
    color: #5E6085;
    text-align: center;
    font-family: var(--sora);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.services--heading {
    margin-top: 15px;
    color: var(--color-common);
    text-align: center;
    font-family: var(--sora);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    /* 119.231% */
}

.services .row {
    display: flex;
    gap: 86px;
}

.services--card {
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.services--sub-heading {
    color: var(--color-common);
    font-family: var(--sora);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.services--desc {
    margin-top: 18px;
    width: 244px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
    /* 171.429% */
}

.services-group--card {
    display: grid;
    row-gap: 24px;
    margin-bottom: 39px;
}

.services--more {
    margin-top: 24px;
    display: flex;
    align-items: center;
}

.services--link {
    color: #34396A;
    font-family: var(--sora);
    font-size: 1.2rem;
    margin-right: 6px;
    transition: text-shadow .2s;
}

.services--link:hover {
    text-shadow: 1px 0 0 currentColor;
    text-decoration: underline;
}

.services--img {
    position: relative;
    margin-top: 331px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.services-img-dog {
    top: -243px;
    left: -18px;
    position: absolute;
}

.services--button {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.services--btn {
    color: #FF5B2E;
    font-weight: 500;
    font-size: 1.6rem;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    padding: 20px 40px;
    min-width: 214px;
    transition: .2s;
}

.services--btn:hover {
    background: #FF5B2E;
    color: #fff;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Staff */
.staff {
    padding-top: 130px;
}

.staff__desc {
    color: #5E6085;
    text-align: center;
    font-family: var(--sora);
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.staff__heading {
    margin-top: 15px;
    color: var(--color-common);
    font-family: var(--sora);
    text-align: center;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    /* 119.231% */
}

.staff__list {
    margin-top: 59px;
    display: flex;
    column-gap: 37px;
}

.staff-item {
    position: relative;
    width: 266px;
    height: 383px;
}

.staff-item::before {
    top: 0;
    left: 16px;
    position: absolute;
    z-index: -1;
    content: '';
    display: inline-block;
    width: 234px;
    height: 266px;
    border-radius: 129.5px;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff-item:nth-child(2)::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.staff-item:nth-child(3)::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff-item:nth-child(4)::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff-item:nth-child(1):after,
.staff-item:nth-child(3):after {
    content: url(../img/staff-decor-1.png);
    position: absolute;
    bottom: 110px;

}

.staff-item:nth-child(3):after {
    content: url(../img/staff-decor-3.png);
}

.staff-item:nth-child(2):after,
.staff-item:nth-child(4):after {
    content: url(../img/staff-decor-2.png);
    position: absolute;
    top: 0px;
}

.staff-item:nth-child(4):after {
    content: url(../img/staff-decor-4.png);
}

.staff-item__img {
    left: 0;
    border-radius: 129.5px;
    top: -20px;
    position: absolute;
    margin-left: 16px;
}

.staff-item__title {
    margin-top: 333px;
    color: #656689;
    text-align: center;
    font-size: 1.4rem;
    line-height: 1;
    /* 100% */
}

.staff-item__name {
    margin-top: 14px;
    color: var(--color-common);
    text-align: center;
    font-family: var(--sora);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.staff__cta-wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.staff__cta {
    font-weight: 500;
    font-size: 1.6rem;
    color: #FF5B2E;
    min-width: 193px;
    padding: 20px 40px;
    border: 1px solid currentColor;
    border-radius: 31px;
    transition: .3s;
}

.staff__cta:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    background: #FF5B2E;
    color: #fff;
}

/* price */

.price {
    background: #FFF6ED;
    margin-top: 130px;
    padding-bottom: 86px;
    padding-top: 86px;
}

.price .container {
    width: 994px;
}

.price__heading {
    color: var(--color-common);
    text-align: center;
    font-family: var(--sora);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    /* 119.231% */
}

.price__desc {
    margin-top: 24px;
    width: 709px;
    color: #656689;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.88;
    /* 187.5% */
    margin-left: auto;
    margin-right: auto;
}

.price-date {
    width: 100%;
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.price__date {
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    position: relative;
    display: flex;
}

.price__month {
    padding: 20px 40px;
    padding-right: 0;
    color: #FF5B2E;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
}

.price__year {
    margin-left: 40px;
    padding: 20px 40px;
    border-radius: 31px;
    background: #FF5B2E;
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
}

.price__sale {
    transform: rotate(-5deg);
    color: #5860A6;
    text-align: center;
    font-family: var(--pattaya);
    font-size: 1.2rem;
    line-height: 1;
    /* 100% */
}

.price-save {
    position: relative;
    right: -52px;
}

.price__sale::before {
    position: absolute;
    content: url(../img/ring.svg);
    left: -15px;
    top: -12px;
}

.price__sale::after {
    position: absolute;
    content: url(../img/arrow-left-staff.svg);
    left: -30px;
    bottom: -15px;
}

.price-group-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.price-item {
    padding: 30px 28px;
    border-radius: 20px;
    background: #FFF;
}

.price__type {
    color: #FF5B2E;
    font-size: 1.2rem;
}

.price__care {
    margin-top: 8px;
    color: #3F4065;
    font-family: var(--sora);
    font-size: 1.8rem;
    font-weight: 600;
}

.price__money {
    margin-top: 24px;
    color: var(--color-common);
    font-family: var(--sora);
    font-size: 3.3rem;
    font-weight: 700;
}

.price__btn {
    margin-top: 22px;
    width: 246px;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 39px;
    border: 1px solid rgba(255, 91, 46, 0.60);
    padding: 14px 65px 14px 66px;
    transition: .25s;
}

.price__btn:hover {
    background: #FF5B2E;
    color: #fff;
}

.price-list {
    margin-top: 24px;
    display: grid;
    row-gap: 18px;
}

.price__service {
    /* margin-left: 26px; */
    position: relative;
}

.price__list-service {
    color: #656689;
    font-size: 1.4rem;
    line-height: 14px;
    padding-left: 12px;
    margin-left: 14px;
    /* 100% */
}

.price__list-service::before {
    position: absolute;
    left: 0;
    content: url(../img/Check.svg);
}

.price__list-service-blur::before {
    content: url(../img/Check.svg);
    position: absolute;
    opacity: 0.3;
}

/* review */
.review {
    margin-top: 53px;
}

.review .row {
    display: flex;
    grid-template-columns: repeat(2, auto);
    position: relative;
}

.review__arrow {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 54px;
    border: 1.5px solid #FFD1C4;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 225px;
    transition: .25s;
}

.review__back {
    left: -94px;
}

.review__next {
    right: 0;
}

.fa-solid {
    color: #FF5B2E;
}

.review__arrow:hover {
    background: #FF5B2E;
}

.review__arrow:hover .fa-solid {
    color: #fff;
}

.review__img {
    margin-top: 77px;
    position: relative;
    width: 274px;
    height: 350px;
    border-radius: 137px;
    background: #FFDA54;
}

.review__img-item {
    position: absolute;
    top: -76px;
    border-radius: inherit;
}

.review__content {
    margin-left: 115px;
    margin-top: 113px;
}

.review__heading {
    color: var(--color-common);
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
    /* 119.231% */
}

.review__desc {
    margin-top: 24px;
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    line-height: 1.56;
    /* 155.556% */
}

.review__name {
    margin-top: 34px;
    position: relative;
    color: #282828;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
    margin-left: 20px;
    padding-left: 8px;
    /* 100% */
}

.review__name::before {
    left: -20px;
    top: 8px;
    position: absolute;
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
}

.review__button {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #FF5B2E;
    background: transparent;
    transition: .15s;
    cursor: pointer;
}

.review__button:first-child {
    width: 24px;
    background: #FF5B2E;
}

.review__button:hover {
    background: #FF5B2E;
}

.review__group-button {
    margin-left: 62px;
    margin-top: 92px;
    display: flex;
    width: 72px;
    justify-content: space-between;
}

/* blog */
.blog {
    padding-top: 130px;
}

.blog__content {
    display: flex;
    justify-content: space-between;
}

.blog__heading {
    margin-top: 39px;
    color: var(--color-common);
    font-size: 5.2rem;
    font-weight: 700;
}

.blog__desc-right {
    margin-right: 73px;
}

.blog__desc {
    margin-bottom: 24px;
    width: 350px;
    color: #656689;
    font-size: 1.6rem;
    line-height: 1.88;
    /* 187.5% */
}

.blog__btn {
    color: #FF5B2E;
    min-width: 182px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    transition: .2s
}

.blog__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    background: #FF5B2E;
    color: #fff;
}

.blog__list {
    margin-top: 54px;
    display: flex;
    column-gap: 48px;
}

.blog__item {
    width: 358px;
    height: 546px;
    position: relative;
}

.blog-item__time {
    position: absolute;
    top: 24px;
    left: 30px;
}

.blog-item__img {
    width: 358px;
    height: 362px;
    background-size: cover;
    padding: 66px 0 0 30px;
    background: #90CCFF;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.blog-item__img[alt="img blog 2"] {
    background: #FF997E;
}

.blog-item__img[alt="img blog 3"] {
    background: #5BD6E2;
}

.blog-item__heading {
    margin-top: 28px;
    width: 338px;
    color: var(--color-common);
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1.55;
    /* 154.545% */
}

.blog-item__desc {
    margin-top: 16px;
    width: 351px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 1.71;
    /* 171.429% */
}

/* footer */

.footer {
    background: linear-gradient(to right, #fff6ed 42%, transparent 42%);
    margin-top: 131px;
}

.footer .row {
    display: flex;
}

.footer__info {
    width: 42%;
    padding: 114px 0 148px;
    background: #FFF6ED;
}

.footer__arrow-right {
    right: 0;
    position: absolute;
    width: 45px;
    height: 46px;
    border-radius: 54px;
    opacity: 0.6;
    border: 1.5px solid #FFD1C4;
}

.fa-arrow-right::before {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.footer-arrow {
    display: block;
    margin-top: 40px;
    position: relative;
    width: 268px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    border: 0;
}

[type="email"] {
    position: absolute;
    padding: 16px 150px 16px 22px;
    outline: none;
    border: 0;
    color: #656689;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.17;
    width: 268px;
    border-radius: 23px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    background: #FFF;
    /* 116.667% */
}

[type="email"]:focus {
    border-color: #FF5B2E;
    color: #000;

}

[type="email"]:not(:placeholder-shown)+.footer__arrow-right {
    opacity: 1;
    border-color: #FF5B2E;
}

.footer__pages {
    margin-top: 90px;
    color: var(--color-common);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
    /* 111.111% */
}

.footer-info__list-icon {
    margin-top: 16px;
    width: 176px;
    display: flex;
    gap: 16px;
}

.footer__icon {
    padding: 9px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.footer__icon:hover {
    background: #FF5B2E;
}

.footer__menu {
    flex: 1;
    padding: 52px 0 48px 0;
    margin-left: 129px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.footer-menu__list+.footer-menu__list {
    margin-top: 86px;
}

.footer-menu__list+.footer-menu__list-2 {
    margin-top: 58px;
}

.footer-menu__heading {
    color: var(--color-common);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.11;
    margin-bottom: 6px;
    /* 111.111% */
}

.footer__desc {
    margin-top: 8px;
    color: #656689;
    font-size: 1.4rem;
    line-height: 28px;
    /* 200% */
}

.footer__license {
    margin-top: 114px;
    margin-left: -107px;
    width: 100%;
    display: block;
    color: #656689;
    font-size: 1.2rem;
    line-height: 1.17;
    /* 116.667% */
}